{% extends "includes/base.html" %}
{% block main_content %}

<div>
  <h4>All Tags</h4>
  {% for tag in all_tags %}
  <div>
    <a href="{% url 'tags:TagDetails' tag.id %}">
      <h6>{{ tag.name }}</h6>
    </a>
  </div>
  {% endfor %}
  <div>
    {% if all_tags.paginator.num_pages > 1 %}
      <ul class="pagination">
        {% if all_tags.has_previous %}
          <li><a href="?page={{ all_tags.previous_page_number }}&limit=5">Previous</a></li>
        {% endif %}
        <li><a href="#" class="active">{{ all_tags.number }}</a> </li>
        {% if all_tags.has_next %}
          <li><a href="?page={{ all_tags.next_page_number }}&limit=5">Next</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
{% endblock %}