{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitter</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block specific_meta %}

        {% endblock %}

		<link rel="stylesheet" href="{% static 'css/main.css' %}" >

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'img/twitter_logo.png' %}" alt="Error" width="350" height="268">
                </div>

				<div class="col-sm-4">
					<h1>Login</h1>
					<h4>Already have an account.</h4>
                    <form method="post" action="{% url 'user:Signin' %}">
						{% csrf_token %}
						<label>Email / Username / Phone</label><br>
						<input type="text"  name="email">
						<br>
						<label>Password</label><br>
						<input type="password"  name="password">
						<br>
						<input type="submit" value="Login">
					</form>
                </div>


				<div class="col-sm-4">
                    <h1>Register</h1>
                    <h4>Join Today.</h4>
					<form id="sign-in-dialog" method="post" action="{% url 'user:Signup' %}">
						{% csrf_token %}
						<label>Name</label><br>
						<input type="text"  name="name" required><br>
						<label>Email</label><br>
						<input type="email"  name="email" required><br>
						<label>Password</label><br>
						<input type="password"  name="password" required><br>
						<input type="submit" value="Register"><br>
						</div>
					</form>
				</div>

            </div>
            <!-- /row -->
        </div>



    {% if messages %}
        {% for message in messages %}
        <script>
			alert("{{message}}");
        </script>
        {% endfor %}
    {% endif %}
</body>
</html>