{% extends "includes/base.html" %}
{% block main_content %}
<div>
  <a href="{% url 'home' %}" style="float: right">Home</a>
  <h4>Edit Tweet</h4>
  <form id="editTweetForm">
    <div>
      <label>Tweet</label>
      <textarea
        type="text"
        name="tweet_message"
        rows="4"
        cols="90"
        maxlength="160"
        style="resize: none"
        placeholder="Share what's in your mind (max characters 160)"
        required
      >{{ tweet.tweet_message }}</textarea>
    </div>
    <div>
      <button type="button" onclick="asyncFormSubmission('{% url 'tweets:ManageTweet' tweet.id %}','PATCH','editTweetForm')">Update</button>
    </div>
  </form>
  <a href="{% url 'users:Logout' %}" style="float: right">Logout</a>
</div>
{% endblock %}
