{% extends "includes/base.html" %}
{% block main_content %}
{% load tweet_tags %}
{% if request.user.is_authenticated %}
  <div>
    <h4>Add a Tweet</h4>
    <form method="post" action="{% url 'tweets:ListCreateTweets' %}">
      {% csrf_token %}
      <div>
        <label>Tweet</label>
        <textarea
          type="text"
          name="tweet_message"
          rows="4"
          cols="90"
          maxlength="160"
          style="resize: none"
          placeholder="Share what's in your mind (max characters 160)"
          required
        ></textarea>
      </div>
      <div>
        <input type="submit" value="Save" />
      </div>
    </form>
    <a href="{% url 'user:Logout' %}" style="float: right">Logout</a>
  </div>
{% else %}
  <a href="{% url 'user:newSession' %}" style="float: right">Login</a>
{% endif %}
<div>
  <h4>All Tweets</h4>
  {% for tweet in all_tweets %}
  <div class="tweet">
    <h6>{{ tweet.user.first_name }}</h6>
    {% if tweet.last_edited_at %}
      <p>edited</p>
    {% endif %}
    {% if tweet.original_tweet is None %}
      <p>{{ tweet.tweet_message }}</p>
    {% else %}
      <p>Retweeted</p>
      <h6>{{ tweet.original_tweet.user.first_name }}</h6>
      <p>{{ tweet.original_tweet.tweet_message }}</p>
    {% endif %}
    <a href="{% url 'tweets:DetailTweet' tweet.id %}">Show Tweet</a>
    {% if request.user|can_edit_tweet:tweet %}
      <a href="{% url 'tweets:editTweet' tweet.id %}" style="margin-left: 20px;">Edit Tweet</a>
    {% endif %}
    {% if request.user|can_delete_tweet:tweet %}
      <a href="javascript:void(0)" onclick="deleteTweet('{{tweet.id}}')" style="float: right">Delete Tweet</a>
      <!-- href="{% url 'tweets:DetailTweet' tweet.id %}" -->
    {% endif %}
    {% if request.user|can_retweet:tweet %}
      <form method="post" action="{% url 'tweets:reTweet' original_tweet_id=tweet.id %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" style="margin-left: 20px;">Retweet</button>
      </form>
    {% endif %}
  </div>
  {% endfor %}
</div>
<div>
  {% if all_tweets.paginator.num_pages > 1 %}
    <ul class="pagination">
      {% if all_tweets.has_previous %}
        <li><a href="?page={{ all_tweets.previous_page_number }}">Previous</a></li>
      {% endif %}
      <li><a href="#" class="active">{{ all_tweets.number }}</a> </li>
      {% if all_tweets.has_next %}
        <li><a href="?page={{ all_tweets.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  {% endif %}
</div>
{% endblock %}

{% block specific_js %}
  <script>
    function deleteTweet(id) {
      fetch(`{% url 'tweets:DetailTweet' 0 %}`.replace('0',id), {
        method: 'DELETE',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          window.location.reload();
        }else{
          alert('Error deleting tweet');
        }
      });
    }
  </script>
{% endblock %}
